@font-face {
	font-family: "Emblema One";
	src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff"), 
	url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf")
}
Body {
	font-family: Verdana, Geneva Arial, sans-serif;
	font-size: small;
}
h1 {
	font-family: "Emblema One", sans-serif;	
	font-size: 220%;
}
H2 {
	font-size: 130;
}

